[submodule "services"]
	path = services
	url = https://github.com/metanic/services
[submodule "clients/web"]
	path = clients/web
	url = https://github.com/metanic/web
[submodule "tools/mtc.sh"]
	path = tools/mtc.sh
	url = https://github.com/metanic/mtc.sh
