[submodule "services"]
	path = services
	url = https://github.com/metanic/services
[submodule "clients/web"]
	path = clients/web
	url = https://github.com/metanic/web
[submodule "tools/polr"]
	path = tools/polr
	url = https://github.com/metanic/polr
